DATABASE_URL=
SESSION_SECRET=
NODE_ENV=development
DIDIT_API_KEY=
DIDIT_WORKFLOW_ID=
DIDIT_CALLBACK_URL=
PAYSTACK_SECRET_KEY=
PAYMENT_SECRET_KEY=
CONTACT_ACCESS_PRICE_NGN=
PAYMENT_CALLBACK_URL=
SEED_PASSWORD=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
